<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  <display-name>ClientIntakeSystemTemplate</display-name>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
    <init-param>
      <param-name>struts.devMode</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.example.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>CreditServlet</display-name>
    <servlet-name>CreditServlet</servlet-name>
    <servlet-class>com.example.servlets.CreditServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>UpdateAppServlet</display-name>
    <servlet-name>UpdateAppServlet</servlet-name>
    <servlet-class>com.example.servlets.UpdateAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/src/com/example/servlets/RegisterServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/src/com/example/servlets/LoginServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreditServlet</servlet-name>
    <url-pattern>/src/com/example/servlets/CreditServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAppServlet</servlet-name>
    <url-pattern>/src/com/example/servlets/UpdateAppServlet/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>